<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".generated.cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(ProjectDir)$(OutDir)Photosphere.ServiceLocatorGeneration.dll" #>
<#@ import namespace="Photosphere.ServiceLocatorGeneration" #>
<#= new ServiceLocatorGenerator(
	Host.ResolvePath(string.Empty),

	"IRegistryInitializer",
	"IResolver",
	"IScopeKeeper"
).Generate() #>
